<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.music.dao.AdminMapper">
    <resultMap id="BaseResultMap" type="com.example.music.domain.Singer" >
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="sex" jdbcType="TINYINT" property="sex"/>
        <result column="pic" jdbcType="VARCHAR" property="pic"/>
        <result column="birth" jdbcType="TIMESTAMP" property="birth"/>
        <result column="location" jdbcType="VARCHAR" property="location"/>
        <result column="introduction" jdbcType="VARCHAR" property="introduction"/>

    </resultMap>

    <select id="Base_Column_List">
        id, name, sex, pic, birth, location, introduction
    </select>

    <insert id="insert" parameterType="com.example.music.domain.Singer">
        insert into singer (id, name, sex, pic, birth, location, introduction)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=TINYINT}, #{pic,jdbcType=VARCHAR}, #{birth,jdbcType=TIMESTAMP}, #{location,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR})
    </insert>

    <update id="update" parameterType="com.example.music.domain.Singer">
        update singer
        <set>
            <if test="name!=null">
                name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="sex!=null">
                sex = #{sex,jdbcType=TINYINT}
            </if>
            <if test="pic!=null">
                pic = #{pic,jdbcType=VARCHAR}
            </if>
            <if test="birth!=null">
                birth = #{birth,jdbcType=TIMESTAMP}
            </if>
            <if test="location!=null">
                location = #{location,jdbcType=VARCHAR}
            </if>
            <if test="introduction!=null">
                introduction = #{introduction,jdbcType=VARCHAR}
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <delete id="deleteSinger" parameterType="java.lang.Integer">
        delete from singer
        where id = #{id, jdbcType=INTEGER}
    </delete>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from singer
        where id = #{id, jdbcType=INTEGER}
    </select>

    <select id="allSinger" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from singer
    </select>

    <select id="singerOfName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"></include>
        from singer
        where name like #{name, jdbcType=VARCHAR}
    </select>
    <select id="singerOfSex" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"></include>
        from singer
        where name like #{sex, jdbcType=INTEGER}
    </select>


<!--    <insert id="insertSelective" parameterType="com.example.music.domain.Singer">-->
<!--        insert into Singer-->
<!--        <trim prefix="(" suffix=")">-->
<!--            <if test="id != null">-->
<!--                id,-->
<!--            </if>-->
<!--            <if test="name != null">-->
<!--                name,-->
<!--            </if>-->
<!--            <if test="sex != null">-->
<!--                sex,-->
<!--            </if>-->
<!--            <if test="pic != null">-->
<!--                pic,-->
<!--            </if>-->
<!--            <if test="birth != null">-->
<!--                birth,-->
<!--            </if>-->
<!--            <if test="location != null">-->
<!--                location,-->
<!--            </if>-->
<!--            <if test="introduction != null">-->
<!--                introduction,-->
<!--            </if>-->
<!--        </trim>-->
<!--        <trim prefix="values (" suffix=")" suffixOverrides=",">-->
<!--            <if test="id != null"> #{id,jdbcType=INTEGER},-->
<!--            </if>-->
<!--            <if test="name != null"> #{name,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="sex != null"> #{sex,jdbcType=TINYINT},-->
<!--            </if>-->
<!--            <if test="pic != null"> #{pic,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="birth != null"> #{birth,jdbcType=TIMESTAMP},-->
<!--            </if>-->
<!--            <if test="location != null"> #{location,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--            <if test="introduction != null"> #{introduction,jdbcType=VARCHAR},-->
<!--            </if>-->
<!--        </trim>-->
<!--    </insert>-->


<!--    <update id="updateSingerPic" parameterType="com.example.music.domain.">-->
<!--        update singer-->
<!--        <set>-->
<!--            <if test="pic != null">-->
<!--                pic = #{pic, jdbcType=VARCHAR},-->
<!--            </if>-->
<!--        </set>-->
<!--    </update>-->


<!--    <update id="updateByPrimarykey" parameterType="com.example.music.domain.Singer">-->
<!--        update singer-->
<!--        set name = #{name,jdbcType=VARCHAR},-->
<!--         sex = #{sex,jdbcType=INTEGER},-->
<!--         pic = #{pic,jdbcType=VARCHAR},-->
<!--         birth = #{birth,jdbcType=TIMESTAMP},-->
<!--         location = #{location,jdbcType=VARCHAR},-->
<!--         introduction = #{introduction,jdbcType=VARCHAR}-->
<!--        where id = #{id,jdbcType=INTEGER}-->
<!--    </update>-->
</mapper>